#ignoring .vscode folder but we keep some files for debuging
/.vscode/chrome
/.vs/

package-lock.json
.DS_Store

# Code Coverage Folder
coverage/

#Node Modules
/node_modules

# env (do not commit secrets)
.env
.env.local
.env.*.local