:host {
    display: block;
    position: fixed;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    pointer-events: none;
}

.logo {
    width: 3rem;
    height: 3rem;
    opacity: 0.3;
    filter: grayscale(30%);
    transition: opacity 0.3s ease;
}
