<div
    class="home"
    [ngClass]="{
        'theme-light': accountService.theme === 'light',
        'theme-dark': accountService.theme === 'dark',
        'theme-christmas': accountService.theme === 'christmas',
        'theme-valentines': accountService.theme === 'valentines'
    }"
>
    <img class="bg-image" *ngIf="accountService.theme === 'christmas'" src="assets/christmas_mode.jpg" />
    <img class="bg-image" *ngIf="accountService.theme === 'light'" src="assets/home_page_desktop.png" />
    <img class="bg-image" *ngIf="accountService.theme === 'dark'" src="assets/dark_mode_main.jpg" />
    <img class="bg-image" *ngIf="accountService.theme === 'valentines'" src="assets/valentines_mode.jpg" />
    <div class="bg-overlay"></div>

    <div class="hero-content">
        <img src="assets/Logo_Cooquiz.png" alt="Logo" class="logo" />
        <h1 class="title">{{ 'MAIN_PAGE.TITLE' | translate }}</h1>
        <p class="subtitle">{{ 'MAIN_PAGE.SUBTITLE' | translate }}</p>

        <div class="buttons">
            <button mat-raised-button class="action-btn btn-join" routerLink="/play">
                <mat-icon>sports_esports</mat-icon>
                <span>{{ 'MAIN_PAGE.JOIN_GAME' | translate }}</span>
            </button>
            <button mat-raised-button class="action-btn btn-create" routerLink="/create">
                <mat-icon>play_circle_outline</mat-icon>
                <span>{{ 'MAIN_PAGE.CREATE_GAME' | translate }}</span>
            </button>
            <button mat-raised-button class="action-btn btn-manage" routerLink="/administration">
                <mat-icon>dashboard</mat-icon>
                <span>{{ 'MAIN_PAGE.ADMINISTER_GAMES' | translate }}</span>
            </button>
        </div>
    </div>
</div>
