<app-logo></app-logo>
<div class="avatar-selection-container">
    <h1 class="title color-blue margin">{{ 'SET_AVATAR.SELECT_AVATAR' | translate }}</h1>

    <div *ngIf="selectedAvatar" class="avatar-preview">
        <h2>{{ 'SET_AVATAR.SELECTED_AVATAR' | translate }}</h2>
        <img [src]="accountService.getLocalAvatar(selectedAvatar)" alt="Selected Avatar" class="nft-avatar-preview" />
    </div>

    <div class="avatar-grid">
        <div class="avatar-card" *ngFor="let avatar of avatars" (click)="selectAvatar(avatar)" [class.selected]="avatar === selectedAvatar">
            <img [src]="accountService.getLocalAvatar(avatar)" alt="Avatar" class="nft-avatar" />
            <button mat-button *ngIf="avatar === selectedAvatar" color="primary" class="selected-btn">{{ 'SET_AVATAR.SELECTED' | translate }}</button>
        </div>
        <div
            class="avatar-card"
            *ngFor="let avatar of accountService.ownedAvatars"
            (click)="selectAvatar(avatar)"
            [class.selected]="avatar === selectedAvatar"
        >
            <img [src]="accountService.getLocalAvatar(avatar)" alt="Avatar" class="nft-avatar" />
            <button mat-button *ngIf="avatar === selectedAvatar" color="primary" class="selected-btn">{{ 'SET_AVATAR.SELECTED' | translate }}</button>
        </div>
    </div>

    <div class="actions-area">
        <div class="upload-avatar">
            <input type="file" accept=".png,.jpeg,.jpg" (change)="onFileSelected($event)" #avatarUpload hidden />
            <button
                mat-raised-button
                color="accent"
                [disabled]="isPresetAvatarSelected"
                [class.upload-btn--disabled]="isPresetAvatarSelected"
                (click)="!isPresetAvatarSelected && avatarUpload.click()"
            >{{ 'SET_AVATAR.UPLOAD_AVATAR' | translate }}</button>
            <p class="format-hint">{{ 'SET_AVATAR.SUPPORTED_FORMATS' | translate }}</p>
            <p *ngIf="uploadError" class="upload-error">{{ 'SET_AVATAR.INVALID_FORMAT_ERROR' | translate }}</p>
        </div>

        <div class="submit-container">
            <button
                mat-raised-button
                (click)="submitAvatar()"
                [disabled]="!selectedAvatar"
                class="submit-btn"
                [class.submit-btn--active]="selectedAvatar"
            >
                {{ 'BUTTONS.SUBMIT' | translate }}
            </button>
        </div>
    </div>
</div>
