app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}

.pages {
    transition: padding-right 0.7s ease-in-out, padding-top 0.3s ease;
    min-height: 100vh;
}
