h1 {
    font-size: 3rem;
    margin-bottom: 3%;
    margin-top: 60px;
}
.body-container {
    position: relative;
}

button.nav-button {
    border: none;
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

button:hover {
    cursor: pointer;
}

nav {
    right: 40vw;
    top: 10px;
    border-bottom: 2rem;
}

#gameImport {
    display: none;
}
