<div class="pc-card" [class.pc-loading]="!playerAvatarUrl">
    <div class="pc-avatar-ring">
        <div class="pc-avatar">
            <img *ngIf="playerAvatarUrl" [src]="playerAvatarUrl" alt="{{ accountService.getDisplayPseudonym(player.name) }}" />
            <div *ngIf="!playerAvatarUrl" class="pc-avatar-placeholder">
                <i class="material-icons">person</i>
            </div>
        </div>
        <span class="pc-status-dot"></span>
    </div>
    <div class="pc-info">
        <span class="pc-name">{{ accountService.getDisplayPseudonym(player.name) }}</span>
    </div>
    <button *ngIf="isManager" class="pc-kick-btn" (click)="excludePlayer()" title="Remove player">
        <i class="material-icons">person_remove</i>
    </button>
</div>
